html {
    background-color: black;
    color: #eee8d5;
    font-family: Arial, Helvetica, sans-serif;
}

#table-of-contents,
#description,
#ingredients,
#steps {
    background-color: #b58900;
    color: black;
}

img {
    height: auto;
    width: 512px;
}

h1,
h2 {
    background-color: #dc322f;
}
